<!-- Button -->
<button
    type="button"
    pButton
    class="user-trigger p-button-rounded p-button-text p-button-icon-only"
    (click)="showStatusList = false; userPopover.toggle($event)"
>
    <span class="relative flex items-center justify-center">
        <img
            class="w-7 h-7 rounded-full"
            *ngIf="showAvatar && user?.avatar"
            [src]="user.avatar"
            alt="User avatar"
        />
        <fuse-icon
            class="icon-size-6"
            *ngIf="!showAvatar || !user?.avatar"
            [svgIcon]="'heroicons_outline:user-circle'"
        ></fuse-icon>
        <span
            class="absolute right-0 bottom-0 w-2 h-2 rounded-full"
            [ngClass]="{
                'mr-px mb-px': !showAvatar || !user?.avatar,
                'bg-green-500': user?.status === 'online',
                'bg-amber-500': user?.status === 'away',
                'bg-red-500': user?.status === 'busy',
                'bg-gray-400': user?.status === 'not-visible'
            }"
        ></span>
    </span>
</button>

<p-popover
    #userPopover
    [styleClass]="'user-popover'"
>
    <ng-template pTemplate="content">
        <div class="flex flex-col py-2 gap-2 min-w-60">
            <div class="px-4 py-2 border-b">
                <div class="text-xs text-secondary uppercase">Signed in as</div>
                <div class="mt-2 text-sm font-medium break-all">
                    {{ user?.email }}
                </div>
            </div>
            <button
                type="button"
                class="flex items-center px-4 py-2 text-sm rounded hover:bg-gray-100 dark:hover:bg-hover"
                (click)="userPopover.hide()"
            >
                <fuse-icon
                    class="mr-3 icon-size-5"
                    [svgIcon]="'heroicons_outline:user-circle'"
                ></fuse-icon>
                <span>Profile</span>
            </button>
            <button
                type="button"
                class="flex items-center px-4 py-2 text-sm rounded hover:bg-gray-100 dark:hover:bg-hover"
                (click)="userPopover.hide()"
            >
                <fuse-icon
                    class="mr-3 icon-size-5"
                    [svgIcon]="'heroicons_outline:cog-8-tooth'"
                ></fuse-icon>
                <span>Settings</span>
            </button>
            <div class="border-t my-1"></div>
            <button
                type="button"
                class="flex items-center px-4 py-2 text-sm rounded hover:bg-gray-100 dark:hover:bg-hover"
                (click)="toggleStatusList()"
            >
                <fuse-icon
                    class="mr-3 icon-size-5"
                    [svgIcon]="'heroicons_outline:ellipsis-horizontal-circle'"
                ></fuse-icon>
                <span class="flex-1 text-left">Status</span>
                <fuse-icon
                    class="icon-size-4"
                    [svgIcon]="
                        showStatusList
                            ? 'heroicons_outline:chevron-up'
                            : 'heroicons_outline:chevron-down'
                    "
                ></fuse-icon>
            </button>
            <div class="flex flex-col gap-1 px-6" *ngIf="showStatusList">
                <button
                    type="button"
                    class="flex items-center py-1 text-sm hover:text-primary"
                    (click)="updateUserStatus('online')"
                >
                    <span class="w-3 h-3 mr-3 rounded-full bg-green-500"></span>
                    <span>Online</span>
                </button>
                <button
                    type="button"
                    class="flex items-center py-1 text-sm hover:text-primary"
                    (click)="updateUserStatus('away')"
                >
                    <span class="w-3 h-3 mr-3 rounded-full bg-amber-500"></span>
                    <span>Away</span>
                </button>
                <button
                    type="button"
                    class="flex items-center py-1 text-sm hover:text-primary"
                    (click)="updateUserStatus('busy')"
                >
                    <span class="w-3 h-3 mr-3 rounded-full bg-red-500"></span>
                    <span>Busy</span>
                </button>
                <button
                    type="button"
                    class="flex items-center py-1 text-sm hover:text-primary"
                    (click)="updateUserStatus('not-visible')"
                >
                    <span class="w-3 h-3 mr-3 rounded-full bg-gray-400"></span>
                    <span>Invisible</span>
                </button>
            </div>
            <div class="border-t my-1"></div>
            <button
                type="button"
                class="flex items-center px-4 py-2 text-sm rounded hover:bg-gray-100 dark:hover:bg-hover text-red-500"
                (click)="signOut()"
            >
                <fuse-icon
                    class="mr-3 icon-size-5"
                    [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
                ></fuse-icon>
                <span>Sign out</span>
            </button>
        </div>
    </ng-template>
</p-popover>
