node_modules

dist

out-tscdist

coverageout-tsc

src/environments/*.ts

*.jscoverage

*.d.ts

.vscodesrc/environments/*.ts

.husky

angular.json*.js

package-lock.json*.d.ts

yarn.lock

*.log.vscode

.git.husky

.gitignoreangular.json

.DS_Storepackage-lock.json

Thumbs.dbyarn.lock

*.log

.git
.gitignore

.DS_Store
Thumbs.db

